<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
           <link rel="stylesheet" href="/assets/css/style.css">
    <title>Home</title>
</head>
<body>

  <header class="navegador">
    <h2>
        Inicia sesión para entrar a tu tienda
    </h2> 
    <img class="icon-carrinho" src="/assets/img/carrinho.svg" alt="icon-btn">
    </header>
    <main class="mainInicio">
    <form class="formInicio" action="/registro" method="post">
     <label for="username"> Nombre </label>
   <input type="text" name="nombre" placeholder="Ingresa tu nombre">
            <label for="email"> Email </label>
    <input type="email" name="email" placeholder="Ingresa tu email">
             <label for="password"> Password </label>
       <input type="password" name="password" placeholder="Ingresa tu contraseña">
   <button class="botonEnviar">Enviar</button>
   </form> 
     </main> 
</body>
</html>