<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Productos</title>
</head>
<body>

<div>
<div class="container-productos">
  {{#each productos}}
  <div class="card">
    <p>{{productos_nombre}}</p>
    <p>{{productos_precio}}</p>
<img src="{{productos_imagen}}" alt="Imagen del producto">
</div>
  {{/each}}
</div>

</div>


</body>
</html>
